/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #F0F8FF; /* Baby Blue */
    color: #2C3E50;
}

h1, h2 {
    color: #FFA500; /* Orange */
}

.section {
    margin-bottom: 20px;
}

.location {
    color: #FFA500; /* Orange */
    font-weight: bold;
}

a {
    color: #FFA500; /* Orange */
}

a:hover {
    color: #FF4500; /* Darker Orange */
}
